                  <td>
                    <%= batch.name %>
                  </td>

                  <td>
                    <%= batch.course.name %>
                  </td>

                  <td>
                    <%=raw batch.status? ? "<i class='fa fa-regular fa-square-check' style='color: #488ed2;'></i>" : "<i class='fa fa-regular fa-square' style='color: #488ed2;'></i>"%>
                  </td>

                  <td>
                    <%= batch.enrollments.count  %>
                  </td>
                  <% if Current.user.school_admin?(Current.school) %>
                    <td>
                        <%= link_to raw("<i class='fa fa-eye'></i>"), [:admin, batch] %>
                    <td>
                        <%= link_to raw("<i class='fa fa-edit'></i>"), edit_admin_batch_path(batch) %>
                    </td>
                    <td>
                      <%= link_to raw("<i class='fa fa-trash-can'></i>"), [:admin, batch], method: :delete %>
                    </td>
                  <% elsif Current.user.student?(Current.school) %>
                    <td>
                      <%= link_to raw("<i class='fa fa-eye'></i>"), batch %>
                    </td>
                    <td><%=link_to raw(icon_from_string('studey', "#488ed2")), study_course_path(batch.course)%></td>
                    <td>
                    <% unless Current.user.enrollments.with_batch(batch)&.first.present? %>
                      <%= form_with url: enroll_batch_path(batch), method: :put, local: false do |f|  %>
                        <%= f.submit "enroll_batch", id: "#{dom_id batch}_form", class: "enroll-button", hidden: true %>
                        <%= link_to raw(get_icon(batch, Current.user)), "#", class: 'enroll-icon' %>
                      <% end %>
                    <% else %>
                      <%=raw get_icon(batch, Current.user, "#488ed2")%>
                    <% end %>
                    </td>
                  <% end %>